{% extends "layout.html" %}

{% block body %}
	
	<script>
		document.body.style.backgroundImage="url({{ url_for('static', filename='city_bg.jpg') }})"
	</script>
	
	<!--img src="{{ url_for('static', filename='FadeMyName3.png') }}" alt="Banner" style="width:100%"-->
	
	<table width="100%"><tr><td>
	
	<div class='samButton' href="https:SamInniss.weebly.com" style="width: 99%">
		<p>Weebly Site</p>
	</div>
	</td>
	
	<td>
	<div class='samButton' href="#" style="width: 99%">
		<p>Blender</p>
	</div>
	</td>
	
	<td>
	<div class='samButton' href="#" style="width: 99%">
		<p>Gimp</p>
	</div>
	</td>
	
	<td>
	<div class='samButton' href="#" style="width: 99%">
		<p>Unity</p>
	</div>
	</td>
	
	<td>
	<div class='samButton' href="#" style="width: 99%">
		<p>Programs</p>
	</div>
	</td>
	
	<td>
	<div class='samButton' href="#" style="width: 99%">
		<p>Contact Info</p>
	</div>
	
	</td><tr></table>
	
	
	<h1 style="text-align: center">Sam's Heroku Website</h1>	
	<p style="text-align: center">Welcome</p>
	
	<br><br><br><br><br>
	
	<div style="border: 1px solid white; padding: 12px;">
		<h3>Recent </h3>
	</div>
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	text
{% endblock %}