{% extends "layout.html" %}

{% block body %}
	
	<script>
		document.body.style.backgroundImage="url({{ url_for('static', filename='city_bg.jpg') }})"
	</script>
	
	<!--img src="{{ url_for('static', filename='FadeMyName3.png') }}" alt="Banner" style="width:100%"-->
	
	<div class = "visible-xs-block" >
		<h1 style="text-align: center">Sam's Heroku Website</h1>	
		<p style="text-align: center">Welcome</p>
	</div>
	
	<div class="row">
	  <div class="col-sm-2">
		<div class='samButton' href="https:SamInniss.weebly.com" style="width: 100%">
		  <p>Weebly Site</p>
		</div>
	  </div>
	  
	  <div class="col-sm-2">
		<div class='samButton' href="#" style="width: 100%">
		  <p>Blender</p>
		</div>
	  </div>
	  
	  <div class="col-sm-2">
		<div class='samButton' href="#" style="width: 100%">
		  <p>Gimp</p>
		</div>
	  </div>
	  
	  <div class="col-sm-2">
		<div class='samButton' href="#" style="width: 100%">
		  <p>Unity</p>
		</div>
	  </div>
	  
	  <div class="col-sm-2">
		<div class='samButton' href="#" style="width: 100%">
		  <p>Programs</p>
		</div>
	  </div>
	  
	  <div class="col-sm-2">
		<div class='samButton' href="#" style="width: 100%">
		  <p>Contact Info</p>
		</div>
	  </div>
	</div>
	
	
	<div class = "hidden-xs">
		<h1 style="text-align: center">Sam's Heroku Website</h1>	
		<p style="text-align: center">Welcome</p>
	<div>
	
	<br><br><br><br><br>
	
	<div style="border: 1px solid white; padding: 12px;">
		<h3>Recent </h3>
	</div>
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	text
{% endblock %}